# Análisis de Encuesta Nacional de Calidad de Vida - ECV

## Integrantes - Grupo 15

- Sara Sofia Cárdenas Rodríguez - 202214907
- Daniel Felipe Diaz Moreno - 202210773
- Juan Sebastián Urrea López - 201914710

## Los datos

Se trabaja con un conjunto de datos para cada uno de los 4 años requeridos.

## 1. Carga y Manipulación básica de los Datos

In [4]:
# Importaciones de bibliotecas
import pandas as pd
!pip  install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
cie_df = pd.read_excel("Cie.xls", skiprows=6)


print(f"Las dimensiones del archivo son: {cie_df.shape}")
cie_df.head(10)

Las dimensiones del archivo son: (12423, 4)

,COD_3,DESRIPCION CATEGORIAS DE TRES CARACTERES,COD_4,DESCRIPCION CODIGOS DE CUATRO CARACTERES
0,A00,COLERA,A000,"COLERA DEBIDO A VIBRIO CHOLERAE O1, BIOTIPO CH..."
1,NaN,NaN,A001,"COLERA DEBIDO A VIBRIO CHOLERAE O1, BIOTIPO EL..."
2,NaN,NaN,A009,COLERA NO ESPECIFICADO
3,A01,FIEBRES TIFOIDEA Y PARATIFOIDEA,A010,FIEBRE TIFOIDEA
4,NaN,NaN,A011,FIEBRE PARATIFOIDEA A
5,NaN,NaN,A012,FIEBRE PARATIFOIDEA B
6,NaN,NaN,A013,FIEBRE PARATIFOIDEA C
7,NaN,NaN,A014,"FIEBRE PARATIFOIDEA, NO ESPECIFICADA"
8,A02,OTRAS INFECCIONES DEBIDAS SALMONELLA,A020,ENTERITIS DEBIDA A SALMONELLA
9,NaN,NaN,A021,SEPTICEMIA DEBIDA A SALMONELLA

Los unicos atributos de interés son COD_4 y DESCRIPCION CODIGOS DE CUATRO CARACTERES, asi que se eliminarán las demás variables

In [ ]:
cie_df = cie_df["COD_4", "DESCRIPCION CODIGOS DE CUATRO CARACTERES"]

Las columnas de salud2017 son: ['P5672', 'P5694', 'P5695', 'P6090', 'P6100', 'P6181', 'P768']
Las columnas de salud2018 son: ['P5672', 'P5694', 'P5695', 'P6090', 'P6100', 'P6181', 'P768']
Las columnas de salud2021 son: ['P5694', 'P6090', 'P6100', 'P6181', 'P768']
Las columnas de salud2022 son: ['P5694', 'P6090', 'P6100', 'P6181', 'P768']
Las columnas en común son: {'P6181', 'P5694', 'P768', 'P6100', 'P6090'}
Las columnas que no estan en todos los datasets son: {'P5695', 'P5672'}

Con base en esto, se puede observar que no se encentra el siguiente atributo.


- ¿Está embarazada actualmente o ha tenido hijos? (P5672)

Sin embargo, fue posible encontrar el atributo ¿ha estado embarazada alguna vez en su vida? (P3335), la cual funge el mismo rol que P5672. Por lo tanto, se procederá a reemplazar P5672 por P3335 para estos dos archivos y se decidira no tener en cuenta P5695 en el analisis de datos

In [ ]:
columnasSalud2021.append("P3335")
columnasSalud2022.append("P3335")

Asimismo, para facilitiar su análisis, se procederá a cambiar los identificadores de las columnas por nombres más descriptivos.

In [5]:
idANombre = {
    'P5694': '¿Asiste a control prenatal?',
    'P6090': '¿Está afiliado?',
    'P6100': '¿A qué régimen está afiliado?',
    'P6181': '¿Cómo es la calidad del servicio?',
    'P768': '¿Por qué no está afiliado?',
    'P5672': '¿Está embarazada?',
    'P3335': '¿Está embarazada?',
}
columnasSalud2017 = [idANombre[col] for col in columnasSalud2017]
columnasSalud2018 = [idANombre[col] for col in columnasSalud2018]
columnasSalud2021 = [idANombre[col] for col in columnasSalud2021]
columnasSalud2022 = [idANombre[col] for col in columnasSalud2022]


salud2017.rename(columns=idANombre, inplace=True)
salud2018.rename(columns=idANombre, inplace=True)
salud2021.rename(columns=idANombre, inplace=True)
salud2022.rename(columns=idANombre, inplace=True)

Con esto, a continuación se presenta una muestra para cada uno de los archivos de datos disponibles.

In [6]:
salud2017[columnasSalud2017].sample(10)

,¿Está embarazada?,¿Asiste a control prenatal?,¿Está afiliado?,¿A qué régimen está afiliado?,¿Cómo es la calidad del servicio?,¿Por qué no está afiliado?
3257,,,1,1,3,
10106,1,3,1,3,2,
20393,,,1,3,2,
37,,,1,3,2,
12359,,,1,1,1,
25330,,,1,1,2,
7047,2,,1,3,3,
14462,1,3,1,3,2,
9749,,,1,3,2,
10846,,,1,1,2,

In [7]:
salud2018[columnasSalud2018].sample(10)

,¿Está embarazada?,¿Asiste a control prenatal?,¿Está afiliado?,¿A qué régimen está afiliado?,¿Cómo es la calidad del servicio?,¿Por qué no está afiliado?
128832,,,1,3,4,
126801,,,1,3,2,
7048,1,3,1,3,2,
208236,,,1,3,2,
207013,1,3,1,3,2,
256369,2,,1,1,2,
32059,,,1,3,9,
115485,,,1,1,2,
73532,,,1,1,3,
124282,,,1,3,2,

In [8]:
salud2021[columnasSalud2021].sample(10)

,¿Asiste a control prenatal?,¿Está afiliado?,¿A qué régimen está afiliado?,¿Cómo es la calidad del servicio?,¿Por qué no está afiliado?,¿Está embarazada?
27324,NaN,1,1.0,2.0,NaN,2.0
90220,NaN,1,2.0,1.0,NaN,NaN
60418,NaN,1,1.0,2.0,NaN,NaN
135933,NaN,1,3.0,2.0,NaN,NaN
256085,NaN,1,3.0,2.0,NaN,NaN
126571,NaN,1,3.0,2.0,NaN,1.0
216544,NaN,1,3.0,3.0,NaN,NaN
56897,NaN,1,3.0,2.0,NaN,1.0
117105,NaN,1,1.0,2.0,NaN,NaN
16293,NaN,1,3.0,2.0,NaN,1.0

In [9]:
salud2022[columnasSalud2022].sample(10)

,¿Asiste a control prenatal?,¿Está afiliado?,¿A qué régimen está afiliado?,¿Cómo es la calidad del servicio?,¿Por qué no está afiliado?,¿Está embarazada?
79057,NaN,1,3.0,3.0,NaN,NaN
104156,NaN,1,3.0,2.0,NaN,NaN
201781,NaN,1,1.0,2.0,NaN,NaN
112057,NaN,1,3.0,2.0,NaN,NaN
8993,NaN,1,3.0,3.0,NaN,NaN
173054,NaN,1,1.0,2.0,NaN,NaN
16257,NaN,1,1.0,1.0,NaN,NaN
122800,NaN,1,3.0,2.0,NaN,NaN
172845,NaN,1,3.0,2.0,NaN,NaN
238007,NaN,2,NaN,NaN,6.0,NaN

Observamos que muchos datos son nulos, esto se debe a que varias preguntas son mutuamente excluyentes, y otras son dependientes de otras

Posteriormente, se muestra el tipo de dato para cada atributo por cada archivo de datos.

In [10]:
salud2017[columnasSalud2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26500 entries, 0 to 26499
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ¿Está embarazada?                  26500 non-null  object
 1   ¿Asiste a control prenatal?        26500 non-null  object
 2   ¿Está afiliado?                    26500 non-null  int64
 3   ¿A qué régimen está afiliado?      26500 non-null  object
 4   ¿Cómo es la calidad del servicio?  26500 non-null  object
 5   ¿Por qué no está afiliado?         26500 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [11]:
salud2018[columnasSalud2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283012 entries, 0 to 283011
Data columns (total 6 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ¿Está embarazada?                  283012 non-null  object
 1   ¿Asiste a control prenatal?        283012 non-null  object
 2   ¿Está afiliado?                    283012 non-null  int64
 3   ¿A qué régimen está afiliado?      283012 non-null  object
 4   ¿Cómo es la calidad del servicio?  283012 non-null  object
 5   ¿Por qué no está afiliado?         283012 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.0+ MB

In [12]:
salud2021[columnasSalud2021].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257589 entries, 0 to 257588
Data columns (total 6 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ¿Asiste a control prenatal?        1439 non-null    float64
 1   ¿Está afiliado?                    257589 non-null  int64
 2   ¿A qué régimen está afiliado?      240869 non-null  float64
 3   ¿Cómo es la calidad del servicio?  240152 non-null  float64
 4   ¿Por qué no está afiliado?         15579 non-null   float64
 5   ¿Está embarazada?                  113214 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 11.8 MB

In [13]:
salud2022[columnasSalud2022].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251925 entries, 0 to 251924
Data columns (total 6 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ¿Asiste a control prenatal?        1302 non-null    float64
 1   ¿Está afiliado?                    251925 non-null  int64
 2   ¿A qué régimen está afiliado?      239356 non-null  float64
 3   ¿Cómo es la calidad del servicio?  238802 non-null  float64
 4   ¿Por qué no está afiliado?         11496 non-null   float64
 5   ¿Está embarazada?                  111290 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 11.5 MB

Vemos que hay problemas de consistencia en los tipos de datos, pues los atributos enteros de 2021 y 2022 aparecen como textos en 2017 y 2018. Al usar la siguiente linea de codigo, se ve que los valores nulos se toman como " ", por tal razon se procedera a reemplazar estos valores por valores nulos

In [14]:
salud2017["¿Asiste a control prenatal?"].unique()

array([' ', '3', '2', '1'], dtype=object)

In [15]:
for col in columnasSalud2017:
    salud2017[col] = pd.to_numeric(salud2017[col], errors="coerce")

for col in columnasSalud2018:
    salud2018[col] = pd.to_numeric(salud2018[col], errors="coerce")

In [16]:
salud2017[columnasSalud2017].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26500 entries, 0 to 26499
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ¿Está embarazada?                  8353 non-null   float64
 1   ¿Asiste a control prenatal?        4307 non-null   float64
 2   ¿Está afiliado?                    26500 non-null  int64
 3   ¿A qué régimen está afiliado?      25243 non-null  float64
 4   ¿Cómo es la calidad del servicio?  25187 non-null  float64
 5   ¿Por qué no está afiliado?         1214 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 1.2 MB

In [17]:
salud2018[columnasSalud2018].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283012 entries, 0 to 283011
Data columns (total 6 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ¿Está embarazada?                  85837 non-null   float64
 1   ¿Asiste a control prenatal?        48340 non-null   float64
 2   ¿Está afiliado?                    283012 non-null  int64
 3   ¿A qué régimen está afiliado?      264794 non-null  float64
 4   ¿Cómo es la calidad del servicio?  264198 non-null  float64
 5   ¿Por qué no está afiliado?         17166 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 13.0 MB

Finalmente, se unen los 4 datasets en uno unico, para facilitar el analisis de los datos

In [18]:
salud2017['año'] = 2017
salud2018['año'] = 2018
salud2021['año'] = 2021
salud2022['año'] = 2022

salud_df = pd.concat([salud2017[columnasSalud2017 + ["año"]], salud2018[columnasSalud2018+ ["año"]], salud2021[columnasSalud2021+ ["año"]], salud2022[columnasSalud2022+ ["año"]]], axis=0)
salud_df.reset_index(drop=True, inplace=True)
salud_df.sample(10)

,¿Está embarazada?,¿Asiste a control prenatal?,¿Está afiliado?,¿A qué régimen está afiliado?,¿Cómo es la calidad del servicio?,¿Por qué no está afiliado?,año
61926,NaN,NaN,1,1.0,2.0,NaN,2018
627943,NaN,NaN,2,NaN,NaN,8.0,2022
727910,1.0,NaN,1,3.0,2.0,NaN,2022
489543,NaN,NaN,1,3.0,2.0,NaN,2021
162670,NaN,NaN,1,1.0,2.0,NaN,2018
337412,1.0,NaN,1,3.0,2.0,NaN,2021
174309,NaN,NaN,1,3.0,2.0,NaN,2018
82949,2.0,NaN,1,1.0,2.0,NaN,2018
104407,NaN,NaN,1,1.0,2.0,NaN,2018
483442,NaN,NaN,1,3.0,2.0,NaN,2021

## 2. Entendimiento de los datos

## 2.1. Análisis de calidad de datos

## 2.1.1. Análisis de completitud
A continuación, se presentan los porcentajes de completitud e incompletitud para cada uno de los atributos.

In [19]:
porcentajeIncompletitudAtributo =  (100 * salud_df.isnull().sum() / salud_df.shape[0]).sort_values(ascending=False)
pd.DataFrame({
    "Atributo": porcentajeIncompletitudAtributo.index,
    "Completitud (%)": 100 - porcentajeIncompletitudAtributo.values,
    "Incompletitud (%)": porcentajeIncompletitudAtributo.values
})

                            Atributo  Completitud (%)  Incompletitud (%)
0         ¿Por qué no está afiliado?         5.549885          94.450115
1        ¿Asiste a control prenatal?         6.762667          93.237333
2                  ¿Está embarazada?        38.911341          61.088659
3  ¿Cómo es la calidad del servicio?        93.811308           6.188692
4      ¿A qué régimen está afiliado?        94.046099           5.953901
5                    ¿Está afiliado?       100.000000           0.000000
6                                año       100.000000           0.000000

Si bien se ve una alta incompletitud, los atributos más "incompletos" son aquellos que de alguna u otra manera estan limitados por otros atributos, lo que es la causa de su incompletitud.

## 2.1.2. Análisis de unicidad
A continuación, se buscará determinar cuántas filas duplicadas hay en el dataset

In [20]:
registrosDuplicados = salud_df.duplicated()
totalDuplicados = registrosDuplicados.sum()
totalOpiniones = salud_df.shape[0]
porcentajeDuplicados = 100.0 * totalDuplicados / totalOpiniones
print(f"Se cuenta con {totalDuplicados} registros duplicados ({porcentajeDuplicados:.2f}%)")

Se cuenta con 818581 registros duplicados (99.95%)

Los datos presentan un alto porcentaje de duplicados, lo cual se debe a que se cuenta con un subconjunto muy limitado de los atributos totales, teniendo cada uno de estos valores una lista de posibles valores corta y que estan muy relacionadas entre si. Por estas razones, no se deberia realizar preparacion de datos con respecto a problemas de unicidad.

## 2.1.3. Análisis de validez
De acuerdo al diccionario de datos del año 2022, se deberian tener los siguientes posibles valores por cada atributo:

** ¿Está embarazada? **
1 Si
2 No

** ¿Asiste a control prenatal? **
1 Sí
2 No
3 No está embarazada

** ¿Está afiliado? **
1 Si
2 No
9 No sabe, no informa


** ¿A qué regimen está afiliado? **
1 Contributivo (eps)
2 Especial (fuerzas armadas, ecopetrol, universidades públicas, magisterio)
3 Subsidiado (eps-s)
9 No sabe, no informa

** ¿Cómo es la calidad del servicio? **
1 Muy buena
2 Buena
3 Mala
4 Muy mala
9 No sabe

** ¿Por qué no está afiliado? **
1 Por falta de dinero
2 Muchos trámites
3 No le interesa o descuido
4 No sabe que debe afiliarse
5 No está vinculado/a laboralmente a una empresa o entidad (Usted o la persona de la que es beneficiario/a)
6 Está en trámite de afiliación
7 Problemas con el Sisben (no lo/a han visitado, afiliado/a en otro municipio, lo/a desvincularon, le asignaron puntaje alto)
8 Falta de documentación
9 Otra razón

In [21]:
for col in salud_df:
    print(col, ":", sorted(salud_df[col].unique()))

¿Está embarazada? : [np.float64(nan), np.float64(1.0), np.float64(2.0)]
¿Asiste a control prenatal? : [np.float64(nan), np.float64(1.0), np.float64(2.0), np.float64(3.0)]
¿Está afiliado? : [np.int64(1), np.int64(2), np.int64(9)]
¿A qué régimen está afiliado? : [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(nan), np.float64(9.0)]
¿Cómo es la calidad del servicio? : [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(9.0), np.float64(nan)]
¿Por qué no está afiliado? : [np.float64(nan), np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0), np.float64(9.0)]
año : [np.int64(2017), np.int64(2018), np.int64(2021), np.int64(2022)]

De acuerdo con los resultados anteriores, no se debería realizar preparación de datos con problemas de validez, pues todos los valores de los atributos son aceptables.

## 2.1.4. Análisis de consistencia

El único problema de consistencia se mencionó en la sección 1, donde en una pareja de conjuntos de datos se tenia el atributo "¿ha estado embarazada alguna vez en su vida? (P3335)" mientras que otra pareja tenia el atributo 
"¿Está embarazada actualmente o ha tenido hijos? (P5672)" que en escencia hacian referencia a lo mismo. No se identificaron mas tareas a realizar por parte de problemas de consistencias.

# 3. Resumen de los cambios realizados